Example/Test Data/Schemas/RightScale-v1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Tony Stone (Mobile Grid, Inc.) -->
<description targetNamespace="http://www.mobilegridinc.com/wsdl/rightscale/api/15/wsdl" xmlns="http://www.w3.org/ns/wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:tns="http://www.mobilegridinc.com/wsdl/rightscale/api/15/wsdl" xmlns:sns="http://www.mobilegridinc.com/rightscale/api/15/xsd" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap">
	<types>
		<xs:schema targetNamespace="http://www.mobilegridinc.com/rightscale/api/15/xsd" xmlns="http://www.mobilegridinc.com/rightscale/api/15/xsd">
			<xs:element name="CloudListResponse" type="xs:string"/>
			<xs:complexType name="CloudReadParameters">
				<xs:attribute name="cloud_id" type="xs:string"/>
			</xs:complexType>
			<xs:element name="CloudReadRequest" type="CloudReadParameters"/>
			<xs:element name="CloudReadResponse" type="xs:string"/>
			<xs:element name="invalidInputError" type="xs:string"/>
			<xs:element name="unknownError" type="xs:string"/>
		</xs:schema>
	</types>
	<interface name="CloudInterface">
		<fault name="invalidInputFault" element="sns:invalidInputError"/>
		<fault name="unknownFault" element="sns:unknownError"/>
		<operation name="list" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true">
			<input element="sns:CloudReadRequest"/>
			<output messageLabel="Out" element="sns:CloudListResponse"/>
		</operation>
		<operation name="read" pattern="http://www.w3.org/ns/wsdl/in-out" wsdlx:safe="true">
			<input messageLabel="In" element="sns:CloudReadRequest"/>
			<output messageLabel="Out" element="sns:CloudReadResponse"/>
		</operation>
	</interface>
	<interface name="DatacenterInterface">
		<operation name="list" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
		<operation name="read" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
	</interface>
	<interface name="RightScaleInterface">
		<operation name="CloudList" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
		<operation name="CloudRead" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
		<operation name="DatacenterList" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
		<operation name="DatacenterRead" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
	</interface>
	<binding name="CloudHTTPBinding" interface="tns:CloudInterface" type="http://www.w3.org/ns/wsdl/http">
		<operation ref="tns:list" whttp:location="/clouds" whttp:method="GET">
			<input>
				<whttp:header name="X_API_VERSION" type="xs:string" required="true"/>
				<whttp:header name="Accept" type="xs:string" required="true"/>
			</input>
			<output/>
		</operation>
		<operation ref="tns:read" whttp:location="/clouds/{cloud_id}" whttp:method="GET">
			<input>
				<whttp:header name="X_API_VERSION" type="xs:string" required="true"/>
				<whttp:header name="Accept" type="xs:string" required="true"/>
			</input>
			<output/>
		</operation>
	</binding>
	<binding name="DatacenterBinding" interface="tns:DatacenterInterface" type="http://www.w3.org/ns/wsdl/http">
		<operation ref="tns:list" whttp:location="/clouds/{cloudID}/datacenters">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:read" whttp:location="/clouds/{cloudID}/datacenters/{datacenterID}">
			<input/>
			<output/>
		</operation>
	</binding>
	<binding name="CloudBinding" interface="tns:RightScaleInterface" type="http://www.w3.org/ns/wsdl/http">
		<operation ref="tns:CloudList" whttp:location="/clouds">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:CloudRead" whttp:location="/clouds/{cloudID}">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterList" whttp:location="/clouds/{cloudID}/datacenters">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterRead" whttp:location="/clouds/{cloudID}/datacenters/{datacenterID}">
			<input/>
			<output/>
		</operation>
	</binding>
	<service name="CloudService" interface="tns:CloudInterface">
		<endpoint name="CloudHTTPEndpoint" binding="tns:CloudHTTPBinding" address="https://my.rightscale.com/api"/>
	</service>
	<service name="DatacenterService" interface="tns:DatacenterInterface">
		<endpoint name="DatacenterEndpoint" binding="tns:DatacenterBinding"/>
	</service>
	<service name="RightScaleService" interface="tns:RightScaleInterface">
		<endpoint name="RightScaleEndpoint" binding="tns:CloudBinding" address="https://my.rightscale.com/api"/>
	</service>
</description>
