Example/Test Data/Schemas/RightScale-v2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 sp1 (http://www.altova.com) by Tony Stone (Mobile Grid, Inc.) -->
<description targetNamespace="http://www.mobilegridinc.com/wsdl/rightscale/api/15/wsdl" xmlns="http://www.w3.org/ns/wsdl" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:tns="http://www.mobilegridinc.com/wsdl/rightscale/api/15/wsdl" xmlns:sns="http://www.mobilegridinc.com/rightscale/api/15/xsd" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap">
	<types>
		<xs:schema targetNamespace="http://www.mobilegridinc.com/rightscale/api/15/xsd" xmlns="http://www.mobilegridinc.com/rightscale/api/15/xsd">
			<xs:element name="CloudListResponse" type="xs:string"/>
			<xs:complexType name="CloudReadParameters">
				<xs:attribute name="cloud_id" type="xs:string"/>
			</xs:complexType>
			<xs:element name="CloudReadRequest" type="CloudReadParameters"/>
			<xs:element name="CloudReadResponse" type="xs:string"/>
			<xs:element name="invalidInputError" type="xs:string"/>
			<xs:element name="unknownError" type="xs:string"/>
		</xs:schema>
	</types>

	<interface name="RightScaleInterface">
        
        <fault name="invalidInputFault" element="sns:invalidInputError"/>
		<fault name="unknownFault" element="sns:unknownError"/>
        
		<operation name="CloudList" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input element="sns:CloudReadRequest"/>
			<output messageLabel="Out" element="sns:CloudListResponse"/>
		</operation>
		<operation name="CloudRead" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input messageLabel="In" element="sns:CloudReadRequest"/>
			<output messageLabel="Out" element="sns:CloudReadResponse"/>
		</operation>
		<operation name="DatacenterList" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
		<operation name="DatacenterRead" pattern="http://www.w3.org/ns/wsdl/in-out">
			<input/>
			<output/>
		</operation>
	</interface>

	<binding name="RightScaleHTTPBinding" interface="tns:RightScaleInterface" type="http://www.w3.org/ns/wsdl/http">
		<operation ref="tns:CloudList" whttp:location="/clouds">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:CloudRead" whttp:location="/clouds/{cloudID}">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterList" whttp:location="/clouds/{cloudID}/datacenters">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterRead" whttp:location="/clouds/{cloudID}/datacenters/{datacenterID}">
			<input/>
			<output/>
		</operation>
	</binding>
    
	<binding name="RightScaleSOAPBinding" interface="tns:RightScaleInterface" type="http://www.w3.org/ns/wsdl/soap">
		<operation ref="tns:CloudList" whttp:location="/clouds">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:CloudRead" whttp:location="/clouds/{cloudID}">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterList" whttp:location="/clouds/{cloudID}/datacenters">
			<input/>
			<output/>
		</operation>
		<operation ref="tns:DatacenterRead" whttp:location="/clouds/{cloudID}/datacenters/{datacenterID}">
			<input/>
			<output/>
		</operation>
	</binding>
    
	<service name="RightScaleService" interface="tns:RightScaleInterface">
		<endpoint name="RightScaleHTTPEndpoint" binding="tns:RightScaleHTTPBinding" address="https://my.rightscale.com/api"/>
        <endpoint name="RightScaleSOAPEndpoint" binding="tns:RightScaleSOAPBinding" address="https://my.rightscale.com/api/soap"/>
	</service>
</description>
