connect/Connect Tests/WADL/google-prediction/google-prediction.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/prediction/v1.4">
		
		<resource path="hostedmodels/{hostedModelName}/predict">
			<param name="hostedModelName" type="xsd:string" style="template" required="true">
				<doc><![CDATA[The name of a hosted model.]]></doc>
			</param>
			<param name="fields" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
			</param>
					
			<method id="prediction.hostedmodels.predict" name="POST" apigee:displayName="Predict Against Hosted Model">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="hostedmodels/{hostedModelName}/predict" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_hostedmodels_predict">
					<![CDATA[Run a prediction request against a hosted model.]]>
				</doc>

				<request>
					<representation mediaType="application/json">
						<apigee:payload>
							<![CDATA[
{
	"input":{
		"csvInstance":[ col1_value, col2_value]
	}
}
							]]>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>

		<resource path="trainedmodels/{id}">
			<param name="id" type="xsd:string" style="template" required="true">
				<doc><![CDATA[The unique name for the predictive model.]]></doc>
			</param>
					
			<method id="prediction.trainedmodels.get" name="GET" apigee:displayName="Get Model Information">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="trainedmodels/{id}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_get">
					<![CDATA[Returns information about a trained model.]]>
				</doc>
				
				<request>
					<param name="fields" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
					</param>
				</request>
			</method>
			
			<method id="prediction.trainedmodels.update" name="PUT" apigee:displayName="Add Streaming Training">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="trainedmodels/{id}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_update">
					<![CDATA[Add new data to a trained model.]]>
				</doc>
				
				<request>
					<param name="fields" type="xsd:string" style="query" required="false">
						<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
					</param>

					<representation mediaType="application/json">
						<apigee:payload>
							<![CDATA[
{
  "label" : my_label
  "csvInstance: [ col1, col2....colN ]
}
							]]>
						</apigee:payload>
					</representation>
				</request>
			</method>
			
			<method id="prediction.trainedmodels.delete" name="DELETE" apigee:displayName="Delete Trained Model">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="trainedmodels/{id}" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_delete">
					<![CDATA[Delete a trained model.]]>
				</doc>
			</method>
			
		</resource>
		
 		<resource path="trainedmodels">
			<param name="fields" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
			</param>
			
			<method id="prediction.trainedmodels.insert" name="POST" apigee:displayName="Train New Model">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="trainedmodels" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_insert">
					<![CDATA[Begin training your model.]]>
				</doc>
				
				<request>
					<representation mediaType="application/json">
						<apigee:payload>
							<![CDATA[
{
  "id": string,
  "storageDataLocation": string,
  "storagePMMLLocation": string,  // Only used for PMML preprocessing
  "utility": [                    // Optional, categorical models only
    {
      any value: double
    }
  ]
}							]]>
						</apigee:payload>
					</representation>
				</request>				
				
			</method>
		</resource>
		
		<resource path="trainedmodels/{id}/predict">
		    <param name="id" type="xsd:string" style="template" required="true">
				<doc><![CDATA[The unique name for the predictive model.]]></doc>
			</param>
			<param name="fields" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Selector specifying which fields to include in a partial response.]]></doc>
			</param>
					
			<method id="prediction.trainedmodels.predict" name="POST" apigee:displayName="Predict Against Trained Model">
				<apigee:tags>
					<apigee:tag primary="true">Google Prediction</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="trainedmodels/{id}/predict" />

				<doc apigee:url="http://code.google.com/intl/en/apis/predict/docs/reference/v1.4/reference.html#method_prediction_trainedmodels_predict">
					<![CDATA[Run a prediction against your model.]]>
				</doc>

				<request>
					<representation mediaType="application/json">
						<apigee:payload>
							<![CDATA[
{
	"input":{
		"csvInstance":["M", 1.59, 1.51,"France"]
	}
}
							]]>
						</apigee:payload>
					</representation>
				</request>
			</method>
		</resource>
	
	</resources>
</application>