Fixtures/Schemas/WADL/rightscale-v1.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
 <!--
   ~ Copyright (c) 2014 Mobile Grid, Inc. All rights reserved.
  -->

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:rs="http://www.mobilegridinc.com/schema/rightscale/api/15">

    <grammars>
        <include href="Clouds.xsd"/>
        <include href="Servers.xsd"/>
    </grammars>

    <resources base="https://us-3.rightscale.com">
        <resource path="api" id="api">
            <param name="X_API_VERSION" default="1.5" type="xs:string" required="true" style="header" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <resource path="session" id="session">
                <method name="POST" id="login">
                    <request>
                        <param name="email" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param name="password" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <param name="account_href" type="xs:string" required="true" default="" style="query" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                        <representation mediaType="application/x-www-form-urlencoded"/>
                    </request>
                    <response status="204">
                        <representation mediaType="" element="data"/>
                    </response>
                    <response status="403">
                        <representation mediaType="text/html; charset=utf-8" element="html"/>
                    </response>
                </method>
            </resource>
            <resource path="clouds" id="clouds">
                <method name="GET" id="indexClouds">
                    <request/>
                    <response status="200">
                        <representation mediaType="application/xml" element="rs:clouds"/>
                    </response>
                    <response status="400">
                        <representation mediaType="application/xml" element="rs:Error"/>
                    </response>
                </method>
            </resource>
            <resource path="servers" id="servers">
                <method name="GET" id="indexServers">
                    <request/>
                    <response status="200">
                        <representation mediaType="application/xml" element="rs:servers"/>
                    </response>
                    <response status="400">
                        <representation mediaType="application/xml" element="rs:error"/>
                    </response>
                </method>
                <resource path="{remoteID}" id="server">
                    <param name="remoteID" default="remoteID" type="xs:string" required="true" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <method name="GET" id="showServer">
                        <request/>
                    </method>
                    <method name="POST" id="createServer">
                        <request>
                            <representation mediaType="application/xml" element="rs:server"/>
                        </request>
                    </method>
                    <method name="PUT" id="updateServer">
                        <request>
                            <representation mediaType="application/xml" element="rs:server"/>
                        </request>
                    </method>
                    <method name="DELETE" id="deleteServer">
                        <request/>
                    </method>
                </resource>
            </resource>
            <resource path="deployments" id="deployments">
                <method name="GET" id="indexDeployments">
                    <request/>
                    <response status="200">
                        <representation mediaType="application/xml" element="rs:deployments"/>
                    </response>
                    <response status="400">
                        <representation mediaType="application/xml" element="rs:deployments"/>
                    </response>
                </method>
                <resource path="{remoteID}" id="deployment">
                    <param name="remoteID" default="remoteID" type="xs:string" required="true" style="template" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
                    <method name="GET" id="showDeployment">
                        <request/>
                    </method>
                    <method name="POST" id="createDeployment">
                        <request>
                            <representation mediaType="application/xml" element="rs:deployment"/>
                        </request>
                    </method>
                    <method name="PUT" id="updateDeployment">
                        <request>
                            <representation mediaType="application/xml" element="rs:deployment"/>
                        </request>
                    </method>
                    <method name="DELETE" id="deleteDeployment">
                        <request/>
                    </method>
                </resource>
            </resource>
        </resource>
    </resources>
</application>
