connect-test-apis/hr/hr-legacy/src/main/resources/schema/legacy_hr.wadl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  ~ Copyright (c) 2014 Mobile Grid, Inc. All rights reserved.
  -->

<application xmlns="http://wadl.dev.java.net/2009/02">

    <resources base="http://localhost:8080/rest/">

        <resource path="/regions">
            <method href="#listRegions"/>
            <method href="#readRegion"/>
            <method href="#insertRegion"/>
            <method href="#updateRegion"/>
            <method href="#deleteRegion"/>
        </resource>

        <resource path="/countries">
            <method href="#listCountries"/>
            <method href="#readCountry"/>
            <method href="#insertCountry"/>
            <method href="#updateCountry"/>
            <method href="#deleteCountry"/>
            <method href="#listRegionCountries"/>
            <method href="#readRegionCountry"/>
            <method href="#insertRegionCountry"/>
            <method href="#updateRegionCountry"/>
            <method href="#deleteRegionCountry"/>
        </resource>

        <resource path="/locations">
            <method href="#listLocations"/>
            <method href="#readLocation"/>
            <method href="#insertLocation"/>
            <method href="#updateLocation"/>
            <method href="#deleteLocation"/>
        </resource>

        <resource path="/jobs">
            <method href="#listJobs"/>
            <method href="#readJob"/>
            <method href="#insertJob"/>
            <method href="#updateJob"/>
            <method href="#deleteJob"/>
        </resource>

        <resource path="/employees">
            <method href="#listEmployees"/>
            <method href="#readEmployee"/>
            <method href="#insertEmployee"/>
            <method href="#updateEmployee"/>
            <method href="#deleteEmployee"/>
            <method href="#listLocationEmployees"/>
            <method href="#readLocationEmployee"/>
            <method href="#insertLocationEmployee"/>
            <method href="#updateLocationEmployee"/>
            <method href="#deleteLocationEmployee"/>
            <method href="#listDepartmentEmployees"/>
            <method href="#readDepartmentEmployee"/>
            <method href="#insertDepartmentEmployee"/>
            <method href="#updateDepartmentEmployee"/>
            <method href="#deleteDepartmentEmployee"/>
        </resource>

        <resource path="/jobhistory">
            <method href="#listEmployeeJobHistory"/>
            <method href="#readEmployeeJobHistory"/>
            <method href="#insertEmployeeJobHistory"/>
            <method href="#updateEmployeeJobHistory"/>
            <method href="#deleteEmployeeJobHistory"/>
        </resource>

        <resource path="/departments">
            <method href="#listDepartments"/>
            <method href="#readDepartment"/>
            <method href="#insertDepartment"/>
            <method href="#updateDepartment"/>
            <method href="#deleteDepartment"/>
        </resource>

    </resources>

    <!--
       Regions Resource Methods
   -->

    <method id="listRegions" name="GET">
        <request>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readRegion" name="GET">
        <request>
            <param name="regionId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertRegion" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201"> <!-- 201 Created -->
            <!-- Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateRegion" name="PUT">
        <request>
            <param name="regionId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteRegion" name="DELETE">
        <request>
            <param name="regionId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <!--
        Countries Resource Methods
    -->

    <method id="listCountries" name="GET">
        <request>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readCountry" name="GET">
        <request>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertCountry" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201"> <!-- 201 Created -->
            <!-- Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateCountry" name="PUT">
        <request>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteCountry" name="DELETE">
        <request>
            <param name="regionId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="listRegionCountries" name="GET">
        <request>
            <param name="regionId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readRegionCountry" name="GET">
        <request>
            <param name="regionId"    type="xs:int"    style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertRegionCountry" name="POST">
        <request>
            <param name="regionId"    type="xs:int"    style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201"> <!-- 201 Created -->
            <!-- Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateRegionCountry" name="PUT">
        <request>
            <param name="regionId"    type="xs:int"    style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteRegionCountry" name="DELETE">
        <request>
            <param name="regionId"    type="xs:int"    style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="countryCode" type="xs:string" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204"> <!-- 204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>


    <!--
        Locations Resource Methods
    -->

    <method id="listLocations" name="GET">
        <request>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readLocation" name="GET">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertLocation" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!-- 201 Created -->
            <!-- Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateLocation" name="PUT">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteLocation" name="DELETE">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <!--
        Jobs Resource Methods
    -->

    <method id="listJobs" name="GET">
        <request>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readJob" name="GET">
        <request>
            <param name="jobId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertJob" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateJob" name="PUT">
        <request>
            <param name="jobId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteJob" name="DELETE">
        <request>
            <param name="jobId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <!--
        Employees Resource Methods
    -->

    <method id="listEmployees" name="GET">
        <request>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readEmployee" name="GET">
        <request>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertEmployee" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateEmployee" name="PUT">
        <request>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteEmployee" name="DELETE">
        <request>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="listLocationEmployees" name="GET">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readLocationEmployee" name="GET">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertLocationEmployee" name="POST">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateLocationEmployee" name="PUT">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteLocationEmployee" name="DELETE">
        <request>
            <param name="locationId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>



    <method id="listDepartmentEmployees" name="GET">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readDepartmentEmployee" name="GET">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertDepartmentEmployee" name="POST">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateDepartmentEmployee" name="PUT">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteDepartmentEmployee" name="DELETE">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <!--
        JobHistory Resource Methods
    -->

    <method id="listEmployeeJobHistory" name="GET">
        <request>
            <param name="employeeId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readEmployeeJobHistory" name="GET">
        <request>
            <param name="employeeId" type="xs:int"  style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="startDate"  type="xs:date" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertEmployeeJobHistory" name="POST">
        <request>
            <param name="employeeId" type="xs:int"  style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateEmployeeJobHistory" name="PUT">
        <request>
            <param name="employeeId" type="xs:int"  style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="startDate"  type="xs:date" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteEmployeeJobHistory" name="DELETE">
        <request>
            <param name="employeeId" type="xs:int"  style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <param name="startDate"  type="xs:date" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <!--
        Departments Resource Methods
    -->

    <method id="listDepartments" name="GET">
        <request>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="readDepartment" name="GET">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="200">
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="insertDepartment" name="POST">
        <request>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="201">
            <!--201 Created -->
            <!--Must also send back the location in the header -->
            <param name="Location" type="xs:string" style="header" required="true"  xmlns:xs="http://www.w3.org/2001/XMLSchema"/>

            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="updateDepartment" name="PUT">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

    <method id="deleteDepartment" name="DELETE">
        <request>
            <param name="departmentId" type="xs:int" style="query" required="true" xmlns:xs="http://www.w3.org/2001/XMLSchema"/>
            <representation mediaType="application/x-www-form-urlencoded"/>
        </request>
        <response status="204">
            <!--204 No Content -->
            <representation mediaType="application/json"/>
            <representation mediaType="application/xml"/>
        </response>
    </method>

</application>