connect/Connect Tests/WADL/microsoft-project-siena-example.wadl


<!--  Application
-->
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/v1/WADL"
             xmlns:xs="http://www.w3.org/2001/XMLSchema"
             xmlns:xh="http://www.w3.org/1999/xhtml"
        >

    <!--  Siena Header
    -->

    <siena:header fileversion="1.0"
                  formatversion="1.0"
                  author="ProjectSiena"
                  serviceid="BingTranslator"
            />

    <!--  Authentication
    -->

    <siena:auth id="dataMarketAuth"
                type="oauth2"
                granttype="clientcredentials"
                accesstokenstyle="header"
                clientmethodref="#GetToken"/>

    <!--  Authentication Method
    -->
    <resources base="https://datamarket.accesscontrol.windows.net/v2/">
        <resource path="OAuth2-13">
            <method name="POST" id="GetToken" siena:isauth="true">
                <request>
                    <representation mediaType="application/x-www-form-urlencoded">
                        <param name="grant_type" style="query" fixed="client_credentials"/>
                        <param name="client_id" style="query" fixed="1YV1vIZIFUlZYgd2LeZTg"/>
                        <param name="client_secret" style="query" fixed="xxxxxxxxxxxxxxxxxxx"/>
                        <param name="scope" style="query" fixed="http://api.microsofttranslator.com"/>
                    </representation>
                </request>
                <response siena:resultform="aggregate">
                    <representation mediaType="application/json">
                        <param style="plain" name="access_token" path="/access_token"/>
                        <param style="plain" name="expires_in" path="/expires_in"/>
                    </representation>
                </response>
            </method>
        </resource>
    </resources>

    <!--  Translator Resource and Speak Method
    -->

    <resources base="http://api.microsofttranslator.com/v2/Http.svc/">
        <resource path="Speak">
            <method name="GET" id="Speak">
                <request>
                    <siena:auth href="#dataMarketAuth"/>
                    <param name="text" style="query" required="true" siena:sampledefault="welcome"/>
                    <param name="language" style="query" required="true" siena:sampledefault="en"/>
                    <param name="format" style="query" required="false"/>
                    <param name="options" style="query" required="false"/>
                </request>
                <response>
                    <representation mediaType="audio"/>
                </response>
            </method>
        </resource>

        <resource path="GetTranslations">
            <method name="POST" id="AllTranslations">
                <request>
                    <siena:auth href="#dataMarketAuth"/>
                    <param name="text" style="query" required="true" siena:sampledefault="una importante contribución a la rentabilidad de la empresa"/>
                    <param name="from" style="query" required="true" siena:sampledefault="es"/>
                    <param name="to" style="query" required="true" siena:sampledefault="en"/>
                    <param name="maxTranslations" style="query" type="xs:int" required="true" siena:sampledefault="5"/>
                </request>
                <response siena:resultform="single">
                    <representation mediaType="application/xml">
                        <siena:samplexml>
                            <GetTranslationsResponse xmlns="http://schemas.datacontract.org/2004/07/Microsoft.MT.Web.Service.V2" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
                                <From>es</From>
                                <Translations>
                                    <TranslationMatch>
                                        <Count>0</Count>
                                        <MatchDegree>100</MatchDegree>
                                        <MatchedOriginalText/>
                                        <Rating>5</Rating>
                                        <TranslatedText>an important contribution to the profitability of the company</TranslatedText>
                                    </TranslationMatch>
                                    <TranslationMatch>
                                        <Count>7</Count>
                                        <MatchDegree>100</MatchDegree>
                                        <MatchedOriginalText>una importante contribución a la rentabilidad de la empresa</MatchedOriginalText>
                                        <Rating>1</Rating>
                                        <TranslatedText>an important contribution to the company profitability</TranslatedText>
                                    </TranslationMatch>
                                </Translations>
                            </GetTranslationsResponse>
                        </siena:samplexml>
                    </representation>
                </response>
            </method>
        </resource>

    </resources>
</application>
