connect/Connect Tests/WADL/openstack-sample.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2013 OpenStack Foundation, All Rights Reserved -->
<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xlink="http://www.w3.org/1999/xlink"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
             xmlns:wadl="http://wadl.dev.java.net/2009/02"
             xmlns:csapi="http://docs.openstack.org/compute/api/v1.1"
             xmlns:compext="http://docs.openstack.org/compute/api/v1.1">
    <grammars>
        <include href="../xsd/compext.xsd"/>
    </grammars>
    <resources base="https://servers.api.openstack.com">
        <resource id="version" type="#VersionDetails" path="v2/">
            <resource id="tenantID" path="{tenant_id}">
                <param name="tenant_id" style="template"
                       type="xsd:string">
                    <doc> The ID for the tenant or account in a
                        multi-tenancy cloud. </doc>
                </param>
                <resource id="Servers" path="servers">
                    <resource path="{server_id}">
                        <param name="server_id" style="template"
                               type="csapi:UUID">
                            <doc>The UUID for the server of interest
                                to you. </doc>
                        </param>
                        <resource path="action" id="action">
                            <method href="#pause"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resource>
    </resources>
    <method name="POST" id="pause">
        <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN"
                  title="Pause Server">
            <para role="shortdesc">Pauses a server and changes its status to PAUSED.
                Specify the <code>pause</code> action in the request
                body.</para>
        </wadl:doc>
        <request>
            <representation mediaType="application/xml"
                            element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                            href="../samples/admin-actions-pause.xml"/>
                </doc>
            </representation>
            <representation mediaType="application/xml"
                            element="compext:action">
                <doc xml:lang="EN">
                    <xsdxt:code
                            href="../samples/admin-actions-pause.json"/>
                </doc>
            </representation>
        </request>
        <response status="202"/>
    </method>
</application>