connect/Connect Tests/WADL/freebase/freebase.wadl.xml

<?xml version="1.0" encoding="UTF-8"?>

<application xmlns="http://wadl.dev.java.net/2009/02"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
             xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

	<resources base="https://www.googleapis.com/freebase/v1">
		
		<resource path="search">
			<param name="query" type="xsd:string" style="query" required="true">
				<doc><![CDATA[The text you want to match against freebase entities.]]></doc>
			</param>
			<param name="callback" type="xsd:string" style="query" required="false">
				<doc><![CDATA[JS method name for JSONP callbacks.]]></doc>
			</param>
			<param name="domain" type="xsd:string" style="query" required="false">
				<doc><![CDATA[A comma separated list of domain IDs. Search results must include these domains.]]></doc>
			</param>
			<param name="exact" type="xsd:boolean" style="query" default="false" required="false">
				<doc><![CDATA[Matches only the name, and keys 'exactly'. No normalization of any kind is done at indexing and query time. The text is only broken up on space characters.]]></doc>
			</param>
			<param name="filter" type="xsd:string" style="query" required="false">
				<doc><![CDATA[A Filter s-expression.]]></doc>
			</param>
			<param name="html_escape" type="xsd:boolean" style="query" default="true" required="false">
				<doc><![CDATA[Whether or not to escape entities.]]></doc>
			</param>
			<param name="indent" type="xsd:boolean" style="query" default="false" required="false">
				<doc><![CDATA[Whether to indent the json.]]></doc>
			</param>
			<param name="limit" type="xsd:integer" style="query" default="20" required="false">
				<doc><![CDATA[Return up to this number of results. (integer >= 1)]]></doc>
			</param>
			<param name="mql_output" type="xsd:string" style="query" required="false">
				<doc><![CDATA[A MQL query thats extracts entity information.]]></doc>
			</param>
			<param name="prefixed" type="xsd:boolean" style="query" default="false" required="false">
				<doc><![CDATA[Whether or not to match by name prefix (used for autosuggest).]]></doc>
			</param>
			<param name="start" type="xsd:integer" style="query" default="0" required="false">
				<doc><![CDATA[Allows paging through results. (integer >= 0)]]></doc>
			</param>
			<param name="type" type="xsd:string" style="query" required="false">
				<doc><![CDATA[A comma seperated list of type IDs. Search results must include these types.]]></doc>
			</param>

			<method id="search" name="GET" apigee:displayName="Search">
				<apigee:tags>
					<apigee:tag primary="true">Freebase</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="search?query={query}" />

				<doc apigee:url="http://wiki.freebase.com/wiki/ApiSearch">
					<![CDATA[Find entities by keyword search.]]>
				</doc>
				
				<response>
					<representation mediaType="application/json" />
				</response>
			</method>
		</resource>

		<resource path="mqlread">
			<param name="query" type="xsd:string" style="query" required="true">
				<doc><![CDATA[A valid MQL query in the json format.]]></doc>
			</param>
			<param name="as_of_time" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Run the query as it would've been run at the specified point in time. Must be a valid timestamp (e.g. "2007-01-09T22" or "2007-02").]]></doc>
			</param>
			<param name="callback" type="xsd:string" style="query" required="false">
				<doc><![CDATA[JS method name for JSONP callbacks.]]></doc>
			</param>
			<param name="cursor" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Provides a mechanism for "paging" out results (can be used in conjunction with "limit" directive in MQL). No value (for the first request) OR a valid cursor returned by a previous request.]]></doc>
			</param>
			<param name="html_escape" type="xsd:boolean" style="query" default="true" required="false">
				<doc><![CDATA[Whether or not to escape entities.]]></doc>
			</param>
			<param name="indent" type="xsd:integer" style="query" default="false" required="false">
				<doc><![CDATA[How many spaces to indent the JSON. (integer 0-10)]]></doc>
			</param>
			<param name="lang" type="xsd:string" style="query" default="/lang/en" required="false">
				<doc><![CDATA[Return strings in the language requested (if a given object has no name in the requested language, null will be returned).]]></doc>
			</param>
			<param name="cost" type="xsd:boolean" style="query" default="false" required="false">
				<doc><![CDATA[Whether or not to show the costs.]]></doc>
			</param>
			<param name="uniqueness_failure" type="xsd:string" style="query" default="hard" required="false">
				<doc><![CDATA[How MQL responds to uniqueness failures.]]></doc>
				<option value="hard" />
				<option value="soft" />
			</param>

			<method id="mqlread" name="GET" apigee:displayName="Read MQL">
				<apigee:tags>
					<apigee:tag primary="true">Freebase</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="mqlread?query={query}" />

				<doc apigee:url="http://wiki.freebase.com/wiki/MQL_Read_Service">
					<![CDATA[Retrieve detailed structured data about entities or collections of entities using the Metaweb Query Language (MQL).]]>
				</doc>
			</method>
		</resource>
	
		<resource path="mqlwrite">
			<param name="query" type="xsd:string" style="query" required="true">
				<doc><![CDATA[A valid MQL query in the json format.]]></doc>
			</param>

			<method id="mqlwrite" name="POST" apigee:displayName="Write MQL">
				<apigee:tags>
					<apigee:tag primary="true">Freebase</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="true" />
				
				<apigee:example url="mqlwrite?query={query}" />

				<doc apigee:url="http://www.freebase.com/docs/mqlwrite">
					<![CDATA[Perform insertions, deletions and updates of Metaweb Query Language (MQL).]]>
				</doc>
			</method>
		</resource>
	
		<resource path="text{id}">
			<param name="id" type="xsd:string" style="template" required="true">
				<doc><![CDATA[The id of the entity that you want a description for.]]></doc>
			</param>
			<param name="format" type="xsd:string" style="query" default="raw" required="false">
				<doc><![CDATA[Sanitizing transformation.]]></doc>
				<option value="html" />
				<option value="plain" />
				<option value="raw" />
			</param>
			<param name="lang" type="xsd:string" style="query" default="/lang/en" required="false">
				<doc><![CDATA[The desired language of the content.]]></doc>
			</param>
			<param name="maxlength" type="xsd:integer" style="query" default="200" required="false">
				<doc><![CDATA[The max number of characters to return. Valid only for 'plain' format. (integer 0-4,294,967,295)]]></doc>
			</param>

			<method id="text" name="GET" apigee:displayName="Text">
				<apigee:tags>
					<apigee:tag primary="true">Freebase</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="text{id}" />

				<doc apigee:url="http://wiki.freebase.com/wiki/ApiText">
					<![CDATA[Get short textual descriptions for entities.]]>
				</doc>
			</method>
		</resource>
	
		<resource path="image{id}">
			<param name="id" type="xsd:string" style="template" required="true">
				<doc><![CDATA[The id of an entity for which you want an image. Alternatively, you may pass the id of the content node for a specific image.]]></doc>
			</param>
			<param name="fallbackid" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Use the image associated with this secondary id if no image is associated with the primary id.]]></doc>
			</param>
			<param name="maxheight" type="xsd:integer" style="query" required="false">
				<doc><![CDATA[Maximum height in pixels for resulting image. (integer 0 - 4,096)]]></doc>
			</param>
			<param name="maxwidth" type="xsd:integer" style="query" required="false">
				<doc><![CDATA[Maximum width in pixels for resulting image. (integer 0 - 4,096)]]></doc>
			</param>
			<param name="mode" type="xsd:string" style="query" required="false">
				<doc><![CDATA[Method used to scale or crop image.]]></doc>
				<option value="fill" />
				<option value="fillcrop" />
				<option value="fillcropmid" />
				<option value="fit" />
			</param>
			<param name="pad" type="xsd:boolean" style="query" required="false">
				<doc><![CDATA[Whether the resulting image should be padded up to the requested dimensions. (boolean as 0 or 1)]]></doc>
			</param>

			<method id="image" name="GET" apigee:displayName="Image">
				<apigee:tags>
					<apigee:tag primary="true">Freebase</apigee:tag>
				</apigee:tags>
				
				<apigee:authentication required="false" />
				
				<apigee:example url="image{id}" />

				<doc apigee:url="http://wiki.freebase.com/wiki/ApiImage">
					<![CDATA[Get representative thumbnail images for entities.]]>
				</doc>
			</method>
		</resource>
	
	</resources>
</application>
